<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hakim1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GoHakimApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RumahSakit"></activity>
        <activity android:name=".KantorPolisi"></activity>
        <activity android:name=".PusatPerbelanjaan"></activity>
        <activity android:name=".Sekolah"></activity>
        <activity android:name=".RSAwalBross"></activity>
        <activity android:name=".RSEkaHospital"></activity>
        <activity android:name=".RSJiwaTampan"></activity>
        <activity android:name=".RSTabrani"></activity>
        <activity android:name=".PPKota"></activity>
        <activity android:name=".PPSekaki"></activity>
        <activity android:name=".PTRaya"></activity>
        <activity android:name=".PTampan"></activity>
    </application>

</manifest>